body{
  background: #000;
}


.navbar{
  border:0;
  border-radius: 0;
}

.navbar-default .navbar-brand{
  border-radius: 0;
}


.app{
  background: #FFF;
  margin: 10em 17%;
  min-height: 100px;
  border-radius: 5px;
}
